@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@1,300&display=swap');

*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
    list-style-type: none;
}

.bai1{
    margin: 5px;
    padding: 20px;
}

.listItem{
    display: flex;
    padding: 2px;
    margin: 5px;
}

.listItem button{
    margin-left: 5px;
}